StalkCoin/.idea/.name
StalkCoin/.idea/StalkCoin.iml
StalkCoin/.idea/encodings.xml
StalkCoin/.idea/misc.xml
StalkCoin/.idea/modules.xml
StalkCoin/.idea/scopes/scope_settings.xml
StalkCoin/.idea/vcs.xml
StalkCoin/.idea/workspace.xml
StalkCoin/.idea/xcode.xml
